<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let notification of notifications">
      <ion-avatar slot="start">
        <img src="{{notification.image}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{notification.name}}</h2>
        <h3>{{notification.date}}</h3>
        <p>{{notification.text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
