<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--PROFILE-->
  <ion-card color="light">
    <ion-card-content text-center>
      <ion-thumbnail text-center>
        <img
          src="{{ profile?.photo }}"
          onerror="this.src='assets/img/no_picture.png'"
        />
      </ion-thumbnail>

      <ion-card-title text-center>
        <strong>{{ profile?.name }}</strong>
        <p>{{ profile?.email }}</p>
        <p>{{ profile?.phone_number }}</p>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
