<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <div class="fixed-content">
    <div class="logoHeader">
      <img
        alt="logo"
        style="position: relative"
        src="../assets/img/main_logo.png"
      />
    </div>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="ion-padding">
        <ion-input
          name="login"
          type="text"
          class="input-access-code"
          placeholder="User"
          ngModel
          required
        ></ion-input>
        <br />
        <ion-input
          name="password"
          type="password"
          class="input-access-code"
          placeholder="Password"
          ngModel
          required
        ></ion-input>
        <br />

        <ion-button
          type="submit"
          [disabled]="loginForm.invalid"
          expand="block"
          color="primary"
          >Enter</ion-button
        >
        <br />

        <div class="ion-text-center">
          If you are not registered yet,
          <a routerLink="/register"> register</a> first!
        </div>
      </div>
    </form>
  </div>
</ion-content>
