<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Book An Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="appointment-row-dates shadow">
    <ion-col
      size="2"
      class="ion-text-center"
      tappable
      *ngFor="let day of days"
      (click)="checkDay(day)"
      [ngClass]="{'active': dayActive == getStrDay(day)}"
    >
      <span class="small month">{{ day.month }}</span> <br />
      <span class="day">{{ day.day }}</span> <br />
      <span class="small">{{ day.dayname }}</span>
    </ion-col>
  </ion-row>

  <div>
    <ion-list lines="none">
      <ion-item *ngFor="let ds of day_schedules">
        <span item-start style="width:50px;">{{ds.start_hour}}</span>
        <div
          [ngClass]="{'verticalLineActive': ds.status == 1, 'verticalLineCancelled': ds.status == 2, 'verticalLineScheduled': ds.status == 3}"
        ></div>

        <ion-label>
          <h2 *ngIf="ds.status==1">Available</h2>
          <h2 *ngIf="ds.status==2">Unavailable</h2>
          <h2 *ngIf="ds.status==3">Scheduled</h2>
        </ion-label>

        <ion-button
          *ngIf="ds.status == 1"
          slot="end"
          color="primary"
          (click)="presentScheduleConfirm(ds)"
        >
          <ion-icon name="calendar" slot="start"></ion-icon>
          Schedule
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
