.verticalLineActive {
  width: 10px;
  height: 40px;
  background: green;
  margin: auto;
  margin-top: 0;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  vertical-align: middle;
}

.verticalLineCancelled {
  width: 10px;
  height: 40px;
  background: red;
  margin: auto;
  margin-top: 0;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  vertical-align: middle;
}

.verticalLineScheduled {
  width: 10px;
  height: 40px;
  background: blue;
  margin: auto;
  margin-top: 0;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  vertical-align: middle;
}
