<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="appointment-row-dates shadow">
    <ion-col
      size="2"
      class="ion-text-center"
      tappable
      *ngFor="let day of days"
      (click)="checkDay(day)"
      [ngClass]="{'active': dayActive == getStrDay(day)}"
    >
      <span class="small month">{{ day.month }}</span> <br />
      <span class="day">{{ day.day }}</span> <br />
      <span class="small">{{ day.dayname }}</span>
    </ion-col>
  </ion-row>

  <div>
    <ion-list lines="none">
      <ion-item *ngFor="let da of day_appointments">
        <span item-start style="width:50px;">{{da.schedule.start_hour}}</span>
        <div
          [ngClass]="{'verticalLineActive': !da.cancelled, 'verticalLineCancelled': da.cancelled}"
        ></div>

        <ion-label>
          <h2>{{da.schedule.resource.name}}</h2>
          <p>{{da.schedule.resource.professional}}</p>
        </ion-label>
        <ion-button
          *ngIf="!da.cancelled"
          slot="end"
          color="danger"
          (click)="presentCancelConfirm(da)"
        >
          <ion-icon name="close" slot="start"></ion-icon>
          Cancel
        </ion-button>
        <ion-button
          *ngIf="da.cancelled"
          disabled="true"
          slot="end"
          color="danger"
        >
          <ion-icon name="close" slot="start"></ion-icon>
          Cancelled
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
